@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

:root{
    --clr-primary-dark-blue: hsl(233, 26%, 24%);
    --clr-primary-lime-green: hsl(136, 65%, 51%);
    --clr-primary-light-cyan: hsl(192, 70%, 51%);

    --clr-neutral-blue: hsl(233, 8%, 62%);
    --clr-neutral-light-blue: hsl(220, 16%, 96%);
    --clr-neutral-light-gray: hsl(0, 0%, 98%);
    --clr-neutral-white: hsl(0, 0%, 100%);

    --font-primary: 'Public Sans', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;

    --font-size-300: 0.75rem
    --font-size-400: 1rem;
    --font-size-600: 1.5rem;
    --font-size-700: 2rem;
    --font-size-900: 3rem;

    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-700: 700;
}