@mixin flexContainer($orientation, $gap){
    display: flex;
    flex-direction: $orientation;
    gap: $gap;
}

@mixin gridContainer($gap, $min, $max){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($min, $max));
    gap: $gap;
}

@mixin articleCard(){
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
    gap: 1rem;
    & img{
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }

    & p{
        padding-inline: 2rem;
        &:last-child{
            padding-bottom: 2rem;
        }
    }

    & h3{
        padding: 0 2rem .5rem 2rem;
        color: var(--clr-primary-dark-blue);
        font-size: var(--font-size-500);
        max-width: 30ch;
        &:hover, &:focus{
            color: var(--clr-primary-lime-green);
        }
    }
}

@mixin servicesCard(){
    @include flexContainer(column, 2rem);
    max-width: 40ch;

    & img{width: 6rem;}
    & h3{
        font-size: var(--font-size-700);
        color: var(--clr-primary-dark-blue);
    }
}

@mixin pageHeaderStyling($leftColor, $rightColor){
    font-size: clamp(2rem, 5vw, 6rem);
    background-image: linear-gradient(to right, var($leftColor), var($rightColor));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: var(--font-secondary);
    padding-block: 2vw;
}