@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}
ul[role=list] a,
ol[role=list] a {
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set min height */
html, body, #root {
  min-height: 100vh;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --clr-primary-dark-blue: hsl(233, 26%, 24%);
  --clr-primary-lime-green: hsl(136, 65%, 51%);
  --clr-primary-light-cyan: hsl(192, 70%, 51%);
  --clr-neutral-blue: hsl(233, 8%, 62%);
  --clr-neutral-light-blue: hsl(220, 16%, 96%);
  --clr-neutral-light-gray: hsl(0, 0%, 98%);
  --clr-neutral-white: hsl(0, 0%, 100%);
  --font-primary: "Public Sans", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --font-size-300: 0.75rem
  --font-size-400: 1rem;
  --font-size-500: 1.25rem;
  --font-size-600: 1.5rem;
  --font-size-700: 2rem;
  --font-size-900: 3rem;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-700: 700;
  --font-weight-900: 900;
}

body {
  background-color: var(--clr-neutral-white);
  font-family: var(--font-primary);
  color: var(--clr-neutral-blue);
}

button[type=button] {
  padding: 0.65rem 2rem;
  border: none;
  border-radius: 2rem;
  background-image: linear-gradient(to right, var(--clr-primary-lime-green), var(--clr-primary-light-cyan));
  color: var(--clr-neutral-white);
  font-weight: var(--font-weight-700);
  white-space: nowrap;
}
button[type=button]:hover, button[type=button]:focus {
  cursor: pointer;
  background-image: linear-gradient(to right, var(--clr-neutral-blue), var(--clr-primary-light-cyan));
  box-shadow: 3px 5px 0 rgba(0, 0, 0, 0.6);
}

.container {
  max-width: clamp(60%, 80%, 1440px);
  margin-inline: auto;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
}
.header__hamburger {
  display: block;
}
.header__hamburger button {
  border: 0;
  background-color: transparent;
}
.header nav, .header button[type=button] {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding-bottom: 5rem;
}
.hero__texts {
  text-align: center;
  max-width: 40ch;
}
.hero__texts h1 {
  font-size: var(--font-size-900);
  color: var(--clr-primary-dark-blue);
  line-height: 1.2;
  max-width: 15ch;
}
.hero__texts p {
  padding-block: 2rem;
  color: var(--clr-neutral-blue);
  max-width: 40ch;
}
.hero__bg-images {
  position: relative;
  overflow: hidden;
}
.hero__bg-images img {
  position: inherit;
  top: -10rem;
}
.hero__bg-images::after {
  content: "";
  position: absolute;
  background-image: url("../assets/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  inset: -3rem 0 0 0;
  z-index: -1;
}

.services {
  padding-block: 5rem;
  background-color: var(--clr-neutral-light-blue);
}
.services__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.services__wrapper article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 40ch;
}
.services__wrapper article img {
  width: 6rem;
}
.services__wrapper article h3 {
  font-size: var(--font-size-700);
  color: var(--clr-primary-dark-blue);
}
.services__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 280px));
  gap: 0;
  place-content: center;
}
.services__heading h2 {
  font-size: var(--font-size-900);
  padding-bottom: 2rem;
  line-height: 1.2;
  color: var(--clr-primary-dark-blue);
}
.services__cards article {
  padding-top: 3rem;
}

.articles {
  padding-block: 5rem;
  background-color: var(--clr-neutral-light-gray);
}
.articles h2 {
  font-size: var(--font-size-900);
  color: var(--clr-primary-dark-blue);
  text-align: center;
  margin-block: 2rem;
}
.articles__group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  place-content: center;
}
.articles__group a {
  background-color: var(--clr-neutral-white);
  text-decoration: none;
  color: var(--clr-neutral-blue);
}
.articles__group a:hover, .articles__group a:focus {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}
.articles__group a article {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
  gap: 1rem;
}
.articles__group a article img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.articles__group a article p {
  padding-inline: 2rem;
}
.articles__group a article p:last-child {
  padding-bottom: 2rem;
}
.articles__group a article h3 {
  padding: 0 2rem 0.5rem 2rem;
  color: var(--clr-primary-dark-blue);
  font-size: var(--font-size-500);
  max-width: 30ch;
}
.articles__group a article h3:hover, .articles__group a article h3:focus {
  color: var(--clr-primary-lime-green);
}

.footer {
  background-color: var(--clr-primary-dark-blue);
  padding-block: 3rem;
}
.footer .group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
}
.footer__socials--wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-top: 2rem;
}
.footer__socials--wrapper svg path:hover, .footer__socials--wrapper svg path:focus {
  fill: var(--clr-primary-lime-green);
  cursor: pointer;
}
.footer__links li {
  padding-bottom: 1rem;
}
.footer__links a:hover, .footer__links a:focus {
  color: var(--clr-primary-light-cyan);
  font-weight: 500;
}
.footer__links a {
  text-decoration: none;
  color: var(--clr-neutral-white);
}
.footer__credits button {
  margin-bottom: 2rem;
}

.about h1 {
  font-size: clamp(1.5rem, 8vw, var(--font-size-900));
  color: var(--clr-primary-dark-blue);
  margin-block: 5rem;
  padding-inline: 2rem;
  text-align: center;
}
.about__intro {
  padding-block: 5rem;
  background-color: var(--clr-neutral-light-gray);
}
.about__intro p {
  color: var(--clr-primary-dark-blue);
  padding-inline: 2rem;
  text-align: center;
}
.about__intro--wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  gap: 3rem;
  grid-template-rows: repeat(3, 40%);
}
.about__intro--wrapper h2 {
  text-align: center;
  align-self: center;
  font-size: clamp(1.5rem, 8vw, 5rem);
  text-transform: uppercase;
  color: var(--clr-primary-dark-blue);
  font-weight: var(--font-weight-700);
  position: relative;
  font-weight: 200;
  font-family: var(--font-secondary);
  order: -1;
  padding-block: 5rem;
}
.about__intro--wrapper img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  border-radius: 20px;
}
.about__services {
  padding-block: 7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  place-content: center;
}
.about__services article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 40ch;
}
.about__services article img {
  width: 6rem;
}
.about__services article h3 {
  font-size: var(--font-size-700);
  color: var(--clr-primary-dark-blue);
}

.contact h1 {
  font-size: clamp(2rem, 5vw, 6rem);
  background-image: linear-gradient(to right, var(--clr-primary-dark-blue), var(--clr-primary-lime-green));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: var(--font-secondary);
  padding-block: 2vw;
}
.contact__info {
  background-color: var(--clr-primary-dark-blue);
  color: var(--clr-neutral-white);
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.contact__info--details * {
  margin-bottom: 1rem;
}
.contact__info--details svg {
  width: 2rem;
  height: 2rem;
}
.contact__message {
  padding-block: 5rem;
}
.contact__message--group p {
  color: var(--clr-neutral-blue);
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-600);
}
.contact__message--group h2 {
  font-size: clamp(2rem, 5vw, 6rem);
  color: var(--clr-primary-dark-blue);
  font-weight: var(--font-weight-900);
  line-height: 1.2;
}
.contact__message form {
  padding-top: 3rem;
}
.contact__message form .form-group {
  padding-bottom: 1rem;
}
.contact__message form .form-group input, .contact__message form .form-group textarea {
  position: relative;
  padding: 1rem;
  width: 100%;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.6);
}
.contact__message form .form-group label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.contact__message form button {
  padding: 0.75rem 3rem;
  border: 0;
  background-color: #333;
  color: var(--clr-neutral-white);
  font-weight: var(--font-weight-700);
}
.contact__message form button:hover, .contact__message form button:focus {
  background-color: transparent;
  border: 2px solid var(--clr-primary-dark-blue);
  color: black;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

.blog__heading {
  padding-block: 2rem 5rem;
}
.blog__heading h1 {
  font-size: clamp(2rem, 5vw, 6rem);
  background-image: linear-gradient(to right, var(--clr-primary-dark-blue), var(--clr-primary-light-cyan));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: var(--font-secondary);
  padding-block: 2vw;
  text-align: center;
}
.blog__heading p {
  color: var(--clr-primary-dark-blue);
  padding-bottom: 2vw;
  max-width: 60ch;
  text-align: center;
  margin-inline: auto;
}
.blog__heading form h2 {
  padding-block: 2rem 1rem;
}
.blog__heading form .form-group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.blog__heading form input {
  position: relative;
  width: 100%;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.6);
  padding: 0.5rem;
}
.blog__heading form button {
  padding: 0.5rem 1.5rem;
  background-color: #333;
  border: 0;
  color: var(--clr-neutral-white);
  font-weight: var(--font-weight-700);
}
.blog__heading form button:hover, .blog__heading form button:focus {
  background-color: transparent;
  border: 2px solid var(--clr-primary-dark-blue);
  color: black;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}
.blog__heading form label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.blog__articles {
  background-color: var(--clr-neutral-light-gray);
  padding-block: 5rem;
}
.blog__articles--subHeading h2 {
  padding-bottom: 3rem;
  font-size: clamp(1.5rem, 4vw, var(--font-size-700));
  color: var(--clr-primary-dark-blue);
  font-weight: 500;
  text-align: center;
}
.blog__articles--group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  place-content: center;
}
.blog__articles a {
  background-color: var(--clr-neutral-white);
  text-decoration: none;
  color: var(--clr-neutral-blue);
}
.blog__articles a:hover, .blog__articles a:focus {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}
.blog__articles article {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
  gap: 1rem;
}
.blog__articles article img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.blog__articles article p {
  padding-inline: 2rem;
}
.blog__articles article p:last-child {
  padding-bottom: 2rem;
}
.blog__articles article h3 {
  padding: 0 2rem 0.5rem 2rem;
  color: var(--clr-primary-dark-blue);
  font-size: var(--font-size-500);
  max-width: 30ch;
}
.blog__articles article h3:hover, .blog__articles article h3:focus {
  color: var(--clr-primary-lime-green);
}

.careers__heading h1 {
  font-size: clamp(2rem, 5vw, 6rem);
  background-image: linear-gradient(to right, var(--clr-primary-dark-blue), var(--clr-primary-light-cyan));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: var(--font-secondary);
  padding-block: 2vw;
  line-height: 1;
}
.careers__heading button {
  padding: 0.75rem 3rem;
  border: 0;
  background-color: #333;
  color: var(--clr-neutral-white);
  font-weight: var(--font-weight-700);
  margin-block: 7rem 2rem;
}
.careers__heading button:hover, .careers__heading button:focus {
  background-color: transparent;
  border: 1px solid var(--clr-primary-dark-blue);
  color: black;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}
.careers__values {
  background-color: var(--clr-neutral-blue);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
  margin-block: 10rem;
  color: var(--clr-primary-dark-blue);
  padding: 10vw;
  border-radius: 2em;
}
.careers__values h2 {
  padding-block: 3rem;
  font-size: clamp(1.5rem, 4vw, var(--font-size-700));
  color: var(--clr-primary-dark-blue);
  font-weight: 500;
  text-align: center;
}
.careers__values img {
  margin-bottom: 3rem;
  border-radius: 1em;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
}
.careers__values details {
  margin-bottom: 2rem;
}
.careers__values details summary {
  display: inline-flex;
  gap: 0.5rem;
  width: 100%;
  position: relative;
  cursor: pointer;
  border: 1px solid #333;
  padding: 1rem 2rem;
  box-shadow: 5px 7px 0 black;
  font-size: clamp(0.75rem, 2vw, 2rem);
}
.careers__values details summary:hover, .careers__values details summary:focus {
  background-color: rgba(0, 0, 0, 0.6);
  border: 0;
  color: var(--clr-primary-light-cyan);
}
.careers__values details summary::after {
  content: "+";
  position: absolute;
  right: 0;
  font-weight: var(--font-weight-900);
  font-size: var(--font-size-500);
  transition: 0.7s ease-in-out;
  margin-right: 2rem;
  align-self: center;
}
.careers__values details[open] {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.careers__values details[open]:not(summary) {
  animation: show-details 0.5s ease-in-out;
}
.careers__values details[open] p {
  padding: 0.5rem 2rem 2rem;
  color: var(--clr-primary-dark-blue);
  color: var(--clr-neutral-white);
}
.careers__values details[open] summary {
  border: none;
  color: var(--clr-primary-light-cyan);
  box-shadow: none;
}
.careers__values details[open] > summary::after {
  transform: rotate(45deg);
}

@media (min-width: 55em) {
  .header__hamburger {
    display: none;
  }
  .header nav, .header button[type=button] {
    display: block;
    text-wrap: nowrap;
  }
  .header nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .header nav ul a {
    color: var(--clr-neutral-blue);
  }
  .header nav ul a:hover, .header nav ul a:focus {
    color: var(--clr-primary-light-cyan);
    font-weight: 500;
  }
  .hero {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .hero__texts {
    text-align: left;
    align-self: start;
    padding-top: 8vw;
  }
  .hero__texts p {
    max-width: 43ch;
  }
  .hero__bg-images {
    order: 2;
    flex-grow: 1;
  }
  .hero__bg-images img {
    position: inherit;
    top: -8rem;
    right: -8rem;
    float: right;
  }
  .hero__bg-images::after {
    background-image: url("../assets/bg-intro-desktop.svg");
    background-position: right;
    background-size: auto;
    inset: -30rem -13rem 0 0;
  }
  .services__wrapper {
    align-items: center;
    text-align: center;
  }
  .services__cards {
    grid-template-columns: repeat(auto-fit, minmax(280px, 330px));
    place-content: center;
    width: 100%;
    gap: 2rem;
    text-align: left;
  }
  .services__cards article {
    align-items: start;
  }
  .articles__group {
    grid-template-columns: repeat(auto-fit, minmax(300px, 330px));
  }
  .articles__group h3 {
    line-height: 1;
  }
  .footer__links {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-left: 7vw;
  }
  .footer .group {
    flex-direction: row;
  }
  .footer__credits {
    margin-left: auto;
  }
  .footer__socials--wrapper {
    padding-top: 4rem;
  }
  .about__intro--wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2rem;
    grid-template-rows: repeat(3, 300px);
    padding-bottom: 5rem;
  }
  .about__intro--wrapper h2 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    grid-row: 1/3;
    padding-block: 0;
  }
  .about__intro--wrapper h2 span {
    padding-inline: 9rem;
  }
  .about__intro--wrapper img {
    grid-column: 2;
    grid-row: 2/-1;
  }
  .about__services {
    padding-block: 7rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 330px));
  }
  .contact__info {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-evenly;
  }
  .contact__info--details p:first-of-type {
    color: var(--clr-primary-light-cyan);
    font-size: var(--font-size-300);
    font-weight: var(--font-weight-700);
  }
  .contact__message {
    padding-block: 10rem;
    display: grid;
    grid-template-rows: repeat(3, 250px);
    grid-template-columns: repeat(2, minmax(50%, 1fr));
  }
  .contact__message form {
    height: 100%;
    grid-column: 2/-1;
    grid-row: -3/-1;
  }
  .contact__message form textarea {
    resize: none;
    height: 12rem;
  }
  .blog__heading form h2 {
    text-align: center;
  }
  .blog__heading form .form-group {
    flex-direction: row;
    justify-content: center;
  }
  .blog__heading form input {
    width: 40%;
  }
  .blog__articles--group {
    grid-template-columns: repeat(auto-fit, minmax(330px, 450px));
  }
  .careers__heading {
    text-align: center;
  }
  .careers__values {
    padding: 2rem 7vw 7rem;
  }
  .careers__values--group {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
  }
  .careers__values--group img {
    width: 40%;
    margin-bottom: 0;
    align-self: start;
  }
  .careers__values--group details {
    margin-bottom: 2vw;
  }
  .careers__values--group details summary {
    font-size: 1.25rem;
  }
  .careers__values--cards {
    flex: 1;
  }
}
@keyframes show-details {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=index.css.map */
