@forward './components/reset';
@forward './components/custom-properties';

@mixin flexContainer($orientation, $gap){
    display: flex;
    flex-direction: $orientation;
    gap: $gap;
}

@mixin gridContainer($gap, $min, $max){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($min, $max));
    gap: $gap;
}

@mixin articleCard(){
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
    gap: 1rem;
    & img{
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }

    & p{
        padding-inline: 2rem;
        &:last-child{
            padding-bottom: 2rem;
        }
    }

    & h3{
        padding: 0 2rem .5rem 2rem;
        color: var(--clr-primary-dark-blue);
        font-size: var(--font-size-500);
        max-width: 30ch;
        &:hover, &:focus{
            color: var(--clr-primary-lime-green);
        }
    }
}

@mixin servicesCard(){
    @include flexContainer(column, 2rem);
    max-width: 40ch;

    & img{width: 6rem;}
    & h3{
        font-size: var(--font-size-700);
        color: var(--clr-primary-dark-blue);
    }
}

@mixin pageHeaderStyling($leftColor, $rightColor){
    font-size: clamp(2rem, 5vw, 6rem);
    background-image: linear-gradient(to right, var($leftColor), var($rightColor));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: var(--font-secondary);
    padding-block: 2vw;
}

//Class for disabling background actions when mobile nav is active
.disabled{
    pointer-events: none;
    touch-action: none;
    overflow: hidden;
}

body{
    background-color: var(--clr-neutral-white);
    font-family: var(--font-primary);
    color: var(--clr-neutral-blue);
}

button[type="button"]{
    padding: .65rem 2rem;
    border: none;
    border-radius: 2rem;
    background-image: linear-gradient(to right, var(--clr-primary-lime-green), var(--clr-primary-light-cyan));
    color: var(--clr-neutral-white);
    font-weight: var(--font-weight-700);
    white-space: nowrap;

    &:hover, &:focus{
        cursor: pointer;
        background-image: linear-gradient(to right, var(--clr-neutral-blue), var(--clr-primary-light-cyan));
        box-shadow: 3px 5px 0 rgba(0 0 0 / .6);
    }
}

//Left and right side spacer
.container{
    max-width: clamp(60%, 80%, 1440px);
    margin-inline: auto
}

.header{
    @include flexContainer(row, 2rem );
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
    position: relative;
    

    & button{
        border: 0;
        background-color: transparent;
        cursor: pointer;
        pointer-events: all;
    }

    &__hamburger{
        display: block;
        pointer-events: all;
        position: absolute;
        inset: 7rem -100px auto calc(31% - 50px);
        margin: auto;
        z-index: 9999;
        transform: translateY(-50rem);
        transition: transform 500ms ease;

        &.active{transform:translateY(0);}

        & nav{
            @include flexContainer(column, 0);
            padding-block: 2rem 1rem;
            text-align: center;
            align-items: center;
            justify-content: center;
            background-color: var(--clr-neutral-white);
            width: 60%;
            z-index: 1;
            border-radius: .5rem;
            box-shadow: 0 0 100vw rgba(0 0 0 / .8);
            display: block;


            & li{padding-bottom: 1.5rem;}

            & a{
                color: var(--clr-primary-dark-blue);
                &:hover, &:focus{
                    color: var(--clr-primary-light-cyan);
                    font-weight: var(--font-weight-700);
                }
            }
        }
    }

    &__wide, button[type="button"]{display: none;}
}

.hero{
    @include flexContainer(column, 1rem);
    align-items: center;
    padding-bottom: 5rem;

    &__texts{
        text-align: center;
        max-width: 40ch;
        & h1{
            font-size: var(--font-size-900);
            color: var(--clr-primary-dark-blue);
            line-height: 1.2;
            max-width: 15ch;
        }
        & p{
            padding-block: 2rem;
            color: var(--clr-neutral-blue);
            max-width: 40ch;
        }
    }

    &__bg-images{
        position: relative;
        overflow: hidden;

        & img{
            position: inherit;
            top: -10rem;
        }

        &::after{
            content: '';
            position: absolute;
            background-image: url('../assets/bg-intro-mobile.svg');
            background-repeat: no-repeat;
            background-position:top;
            background-size: contain;
            inset: -3rem 0 0 0;
            z-index: -1;
        }
    }
}

.services{
    padding-block: 5rem;
    background-color: var(--clr-neutral-light-blue);

    &__wrapper{
        @include flexContainer(column, 4rem);
        & article{@include servicesCard();}
    }

    &__cards{
        @include gridContainer(0, 200px, 280px);
        place-content: center;
    }

    &__heading{
        & h2{
            font-size: var(--font-size-900);
            padding-bottom: 2rem;
            line-height: 1.2;
            color: var(--clr-primary-dark-blue);
        }
    }

    &__cards{
        & article{
            padding-top: 3rem;
        }
    }
}

.articles{
    padding-block: 5rem;
    background-color: var(--clr-neutral-light-gray);

    & h2{
        font-size: var(--font-size-900);
        color: var(--clr-primary-dark-blue);
        text-align: center;
        margin-block: 2rem;
    }

    &__group{
        @include gridContainer(2rem, 240px, 1fr);
        place-content: center;

        & a{
            background-color: var(--clr-neutral-white);
            text-decoration: none;
            color: var(--clr-neutral-blue);

            &:hover,&:focus{box-shadow: 0 0 7px rgba(0 0 0 / .2);}

            & article{
                @include articleCard();
            }
        }
    }
}

.footer{
    background-color: var(--clr-primary-dark-blue);
    padding-block: 3rem;

    & .group{
        @include flexContainer(column, 2rem);
        align-items: center;
        text-align: center;
    }

    &__socials--wrapper{
        @include flexContainer(row, 1rem);
        padding-top: 2rem;

        & svg path:hover, & svg path:focus{
            fill: var(--clr-primary-lime-green);
            cursor: pointer;
        }
    }

    &__links{
        & li{padding-bottom: 1rem;}

        & a:hover, & a:focus{
            color: var(--clr-primary-light-cyan);
            font-weight: 500;
        }

        & a{
            text-decoration: none;
            color: var(--clr-neutral-white);
        }
    }

    &__credits{
        & button{margin-bottom: 2rem;}
    }

}

// About page
.about{
    & h1{
        font-size: clamp(1.5rem, 8vw, var(--font-size-900));
        color: var(--clr-primary-dark-blue);
        margin-block: 5rem;
        padding-inline: 2rem;
        text-align: center;
    }

    &__intro{
        $font-size: clamp(1.5rem, 8vw, 5rem);
        padding-block: 5rem;
        background-color: var(--clr-neutral-light-gray);

        & p{
            color: var(--clr-primary-dark-blue);
            padding-inline: 2rem;
            text-align: center;
        }

        &--wrapper{
            @include gridContainer(3rem, 50%, 1fr);
            grid-template-rows: repeat(3, 40%);
            & h2{
                text-align: center;
                align-self: center;
                font-size: $font-size;
                text-transform: uppercase;
                color: var(--clr-primary-dark-blue);
                font-weight: var(--font-weight-700);
                position: relative;
                font-weight: 200;
                font-family: var(--font-secondary);
                order: -1;
                padding-block: 5rem;
            }

            & img{
                object-fit: cover;
                width:100%;
                max-height: 100%;
                border-radius: 20px;
            }   
        }
    }

    &__services{
        padding-block: 7rem;
        @include gridContainer(2rem, 240px, 1fr);
        place-items: center;
        
        & article{@include servicesCard();}
    }
}

//Contact page
.contact{
    & h1{@include pageHeaderStyling(--clr-primary-dark-blue, --clr-primary-lime-green)}

    &__info{
        background-color: var(--clr-primary-dark-blue);
        color: var(--clr-neutral-white);
        text-align: center;
        padding: 2rem;
        @include flexContainer(column, 3rem);
        box-shadow: 0 0 5px rgba(0 0 0 / .6);

        &--details{
            & *{
                margin-bottom: 1rem;
            }
            & svg{
                width: 2rem;
                height: 2rem;
            }
        }
    }

    &__message{
        padding-block: 5rem;
        &--group{
            & p{
                color: var(--clr-neutral-blue);
                font-weight: var(--font-weight-700);
                font-size: var(--font-size-600);
            }

            & h2{
                font-size: clamp(2rem, 5vw, 6rem);
                color: var(--clr-primary-dark-blue);
                font-weight: var(--font-weight-900);
                line-height: 1.2;
            }
        }

        & form{
            padding-top: 3rem;
            & .form-group{
                padding-bottom: 1rem;
                & input, & textarea{
                    position: relative;
                    padding: 1rem;
                    width: 100%;
                    box-shadow: 2px 2px 0 rgba(0 0 0 / .6);
                    border: 1px solid #333;
                }

                //For accessibility purposes
                & label{
                    position: absolute;
                    left:-10000px;
                    top:auto;
                    width:1px;
                    height:1px;
                    overflow:hidden;
                }
            }

            & button{
                padding: .75rem 3rem;
                border: 0;
                background-color: #333;
                color: var(--clr-neutral-white);
                font-weight: var(--font-weight-700);
                &:hover, &:focus{
                    background-color: transparent;
                    border: 2px solid var(--clr-primary-dark-blue);
                    color: black;
                    box-shadow: 0 0 3px rgba(0 0 0 / .6);
                }
            }
        }
    }
}

//Blog Page
.blog{
    &__heading{
        padding-block: 2rem 5rem;
        & h1{
            @include pageHeaderStyling(--clr-primary-dark-blue, --clr-primary-light-cyan);
            text-align: center;
        }
        & p{
            color: var(--clr-primary-dark-blue);
            padding-bottom: 2vw;
            max-width: 60ch;
            text-align: center;
            margin-inline: auto
        }

        & form{
            & h2{padding-block: 2rem 1rem}
            & .form-group{@include flexContainer(column, 1.5rem);}
            & input{
                position: relative;
                width: 100%;
                box-shadow: 2px 2px 0 rgba(0 0 0 / .6);
                padding: .5rem;
                border: 1px solid #333;
            }

            & button{
                padding: .5rem 1.5rem;
                background-color: #333;
                border: 0;
                color: var(--clr-neutral-white);
                font-weight: var(--font-weight-700);

                &:hover, &:focus{
                    background-color: transparent;
                    border: 2px solid var(--clr-primary-dark-blue);
                    color: black;
                    box-shadow: 0 0 3px rgba(0 0 0 / .6);
                }
            }

            //Hides label from screen but not from screen reader
            & label{
                position: absolute;
                left:-10000px;
                top:auto;
                width:1px;
                height:1px;
                overflow:hidden;
            }
        }
    }

    &__articles{
        background-color: var(--clr-neutral-light-gray);
        padding-block: 5rem;

        &--subHeading{
            & h2{
                padding-bottom: 3rem;
                font-size: clamp(1.5rem, 4vw, var(--font-size-700));
                color: var(--clr-primary-dark-blue);
                font-weight: 500;
                text-align: center;
            }
        }

        &--group{
            @include gridContainer(2rem, 240px, 1fr);
            place-content: center;
        }

        & a{
            background-color: var(--clr-neutral-white);
            text-decoration: none;
            color: var(--clr-neutral-blue);
            &:hover,&:focus{box-shadow: 0 0 7px rgba(0 0 0 / .2);}
        }

        & article{
            @include articleCard();
        }
    }
}

//Careers page
.careers{
    &__heading{
        & h1{
            @include pageHeaderStyling(--clr-primary-dark-blue, --clr-primary-light-cyan);
            line-height: 1;
        }

        & button{
            padding: .75rem 3rem;
            border: 0;
            background-color: #333;
            color: var(--clr-neutral-white);
            font-weight: var(--font-weight-700);
            margin-block: 7rem 2rem;
            &:hover, &:focus{
                background-color: transparent;
                border: 1px solid var(--clr-primary-dark-blue);
                color: black;
                box-shadow: 0 0 3px rgba(0 0 0 / .6);
            }
        }
    }

    &__values{
        background-color: var(--clr-neutral-blue);
        box-shadow: 0 0 3px rgba(0 0 0 / .9);
        margin-block: 10rem;
        color: var(--clr-primary-dark-blue);
        padding: 10vw;
        border-radius: 2em;

        & h2{
            padding-block: 3rem;
            font-size: clamp(1.5rem, 4vw, var(--font-size-700));
            color: var(--clr-primary-dark-blue);
            font-weight: 500;
            text-align: center;
        }

        & img{
            margin-bottom: 3rem;
            border-radius: 1em;
            box-shadow: 0 0 7px rgba(0 0 0 / .6);
        }

        & details{
            margin-bottom: 2rem;
            & summary{
                display: inline-flex;
                gap: .5rem;
                width: 100%;
                position: relative;
                cursor: pointer;
                border: 1px solid #333;
                padding: 1rem 2rem;
                box-shadow: 5px 7px 0 black;
                font-size: clamp(.75rem, 2vw, 2rem);

                &:hover, &:focus{
                    background-color: rgba(0 0 0 / .6);
                    border: 0;
                    color: var(--clr-primary-light-cyan);
                }

                &::after{
                    content: '+';
                    position: absolute;
                    right: 0;
                    font-weight: var(--font-weight-900);
                    font-size: var(--font-size-500);
                    transition: .7s ease-in-out;
                    margin-right: 2rem;
                    align-self: center;
                }
            }

            &[open]{
                background-color: rgba(0 0 0 / .6);               
                box-shadow: 0 0 5px rgba(0 0 0 / .6);

                &:not(summary){animation: show-details .5s ease-in-out;}

                & p{
                    padding: .5rem 2rem 2rem;
                    color: var(--clr-primary-dark-blue);
                    color: var(--clr-neutral-white);
                }

                & summary{
                    border: none;
                    color: var(--clr-primary-light-cyan);
                    box-shadow:none;
                }
            }

            &[open] > summary::after{transform: rotate(45deg);}
        }
    }


}

@media(min-width: 55em){
    .header{
        &__hamburger, button{display: none;}

        & nav, button[type="button"]{display: block; text-wrap:nowrap}

        & nav{
            & ul{
                @include flexContainer(row, 2rem);
                & a{
                    color: var(--clr-neutral-blue);
                    &:hover, &:focus, &:active{
                        color: var(--clr-primary-light-cyan);
                        font-weight: 500
                    }
                }
            }
        }
    }

    .hero{
        @include flexContainer(row, 2rem);

        &__texts{
            text-align: left;
            align-self: start;
            padding-top: 8vw;
            & p{max-width: 43ch;}
        }

        &__bg-images{
            order: 2;
            flex-grow: 1;

            & img{
                position: inherit;
                top: -8rem;
                right: -8rem;
                float: right;
            }

            &::after{
                background-image: url('../assets/bg-intro-desktop.svg');
                background-position:right;
                background-size: auto;
                inset: -30rem -13rem 0 0;
            }
        }
    }

    .services{
        &__wrapper{align-items: center; text-align: center;}

        &__cards{
            grid-template-columns: repeat(auto-fit, minmax(280px, 330px));
            place-content: center;

            width: 100%;
            gap: 2rem;
            text-align: left;

            & article{
                align-items: start;
            }
        }
    }

    .articles{
        &__group{
            grid-template-columns: repeat(auto-fit, minmax(300px, 330px));

            & h3{
                line-height: 1;
            }
        }
    }

    .footer{
        &__links{
            @include flexContainer(row, 5rem);
            margin-left: 7vw;   
        }

        & .group{flex-direction: row;}

        &__credits{margin-left: auto;}

        &__socials--wrapper{padding-top: 4rem;}
    }

    //About page
    .about{
        &__intro{
            &--wrapper{
                $font-size: clamp(1.5rem, 8vw, 5rem);

                @include gridContainer(2rem, 100px, 1fr);
                grid-template-rows: repeat(3, 300px);
                padding-bottom: 5rem;
                & h2{
                    writing-mode: vertical-lr;
                    text-orientation:upright ;
                    grid-row: 1 / 3;
                    padding-block: 0;

                    & span{
                        padding-inline: 9rem;
                    }
                }
    
                & img{
                    grid-column: 2;
                    grid-row: 2 / -1;
                }   
            }
        }
    
        &__services{
            place-content: center;
            padding-block: 7rem;
            grid-template-columns: repeat(auto-fit, minmax(280px, 330px));
        }
    }

    //Contact page
    .contact{
        &__info{
            @include flexContainer(row, 3rem);
            justify-content: space-evenly;
            &--details{
                & p:first-of-type{
                    color: var(--clr-primary-light-cyan);
                    font-size: var(--font-size-300);
                    font-weight: var(--font-weight-700);
                }
            }
        }

        &__message{
            padding-block: 10rem;
            display: grid;
            grid-template-rows: repeat(3, 250px);
            grid-template-columns: repeat(2, minmax(50%, 1fr));       
            
            & form{
                height: 100%;
                grid-column: 2 / -1;
                grid-row: -3 / -1;

                & textarea{
                    resize: none;
                    height: 12rem;
                }
            }
        }
    }

    //Blog page
    .blog{
        &__heading{
            & form {
                & h2{
                    text-align: center;
                }
                & .form-group{
                    flex-direction: row;
                    justify-content: center;
                }

                & input{
                    width: 40%;
                }
            }
        }

        &__articles{
            &--group{
                grid-template-columns: repeat(auto-fit, minmax(330px, 450px));
            }
        }
    }

    //Careers page
    .careers{
        &__heading{text-align: center;}

        &__values{
            padding: 2rem 7vw 7rem;
            &--group{
                @include flexContainer(row, 2rem);
                align-items: center;
                & img{
                    width: 40%;
                    margin-bottom: 0;
                    align-self: start;
                }

                & details{
                    margin-bottom: 2vw;
                    & summary{
                        font-size: 1.25rem;
                    }
                }
            }

            &--cards{flex: 1;}
        }
    }
}

//Careers page details tag animation
@keyframes show-details{
    from{
        opacity: 0;
        transform: translateY(-1rem);
    }

    to{
        opacity: 1;
        transform: translateY(0);

    }
}
